# Small Area Population Estimates


**NOTE - this is a big for a git repo, you'll need to download the following and uninstall into /sources**
`https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/lowersuperoutputareamidyearpopulationestimates/mid2017/sape20dt1mid2017lsoasyoaestimatesformatted.zip`

### Requirements

Extract tabs, Mid-2017 Persons, Mid-2017 Male, Mid-2017 Female

#### Observations & Dimensions

The `observations` should be apparent.

The required dimensions are:

* **Geography** - take this from "area codes"
* **Time** - get the time from laarge bol
* **Age** - "All Ages" as well as all the bolded numbers to the right
* **Gender** - from the tab name

-----
Notes:

* Haven't tried it but it's very likely (read: is) too big for databaker. You'll need to use pandas directly.

In [1]:
%cd mock-transformations/

/workspace/mock-transformations

In [2]:
import pandas as pd
import numpy as np

file_path = "./sources/SAPE20DT1-mid-2017-lsoa-syoa-estimates-formatted.XLS"

In [3]:
work = list()
tabs = {"Mid-2017 Persons": "All",
        "Mid-2017 Females": "Females",
        "Mid-2017 Males": "Males"}

In [4]:
# Data range is A5:CQ35106 for each spreadsheet, convenient
for tab_name, gender in tabs.items():
    df = pd.read_excel(io=file_path, sheet_name=tab_name, header=4, index_col=0)
    # drop the data we don't want, no point keeping it
    df.drop(labels=['Area Names', 'Unnamed: 2'], axis=1, inplace=True)
    # Add a multiindex for the gender information, this will be useful later
    df.columns = pd.MultiIndex.from_product([[gender], df.columns])
    work.append(df)

In [14]:
# Join the dataframes, unstack, and reset index
output = pd.concat(work, axis=1, join='inner').unstack().reset_index()

In [15]:
# Name those columns
output.columns = ['Gender', 'Age', 'Geography', 'OBS']

In [16]:
output

        Gender       Age  Geography     OBS
0          All  All Ages  E06000047  523662
1          All  All Ages  E01020634    1632
2          All  All Ages  E01020635    1329
3          All  All Ages  E01020636    1725
4          All  All Ages  E01020654    1826
...        ...       ...        ...     ...
9687871  Males       90+  W01001636       1
9687872  Males       90+  W01001657       8
9687873  Males       90+  W01001658       8
9687874  Males       90+  W01001912       3
9687875  Males       90+  W01001913       1

[9687876 rows x 4 columns]